---
layout: layouts/page.njk
title: Blog
permalink: /blog/
---

<div class="posts col-content">
  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in collections.publicPosts %}
      {% if post.date.getFullYear() > 2013 %}
      <li>
        <span class="post-meta">{{ post.date | dateFormat }}</span>
        <span> - </span>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        <span> - </span>
        {% if post.data.categories %}
          <span class="post-categories">{{ post.data.categories[0] }}</span>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2 class="page-heading archive-heading">Carlitos' Contraptions Archive</h2>
  <p class="archive-blurb">An earlier life of tinkering with robots, and questionable soldering.
  Lovingly recovered from the old <em>carlitoscontraptions.com</em> blog.</p>

  <ul class="post-list">
    {% for post in collections.publicPosts %}
      {% if post.date.getFullYear() <= 2013 %}
      <li>
        <span class="post-meta">{{ post.date | dateFormat }}</span>
        <span> - </span>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        <span> - </span>
        {% if post.data.categories %}
          <span class="post-categories">{{ post.data.categories[0] }}</span>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if collections.publicPosts.length == 0 %}
  <p>Blog posts are being migrated. Check back soon.</p>
  {% endif %}
</div>
