---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for p in collections.all %}
  {%- set isPost = "posts" in (p.data.tags or []) %}
  {%- if p.url and p.url.endsWith("/") and p.url != "/drafts/" and not ("drafts" in (p.data.tags or [])) %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    {%- if isPost %}
    <lastmod>{{ (p.data.updated or p.date) | dateFormat("isodate") }}</lastmod>
    {%- endif %}
    <priority>{{ "1.0" if p.url == "/" else ("0.6" if isPost else "0.8") }}</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
