<aside class="archive-banner">
  <img src="/img/carlitos-contraptions-logo.png" alt="Carlitos' Contraptions" class="archive-banner-logo">
  <span>This old post may still need some polish.</span>
</aside>
