{% from "icon.njk" import icon %}
<footer class="no-print">
  <a class="cc-icon" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons BY-NC-SA 4.0" target="blank">
    <span class="icon icon-2x">{{ icon("fa-creative-commons") }}</span>
  </a>
  <span>{{ buildDate | dateFormat("year") }}</span>
</footer>

<!-- JS -->

<script src="/js/vendor/jquery-3.2.1.slim.min.js"></script>
<script src="/js/vendor/fancybox.min.js"></script>
<script src="/js/vendor/sjcl.js"></script>
<script type="text/javascript">
    // Get URL parameters by name
    function get_url_parameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? '' : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var phone = {{ resume.phone | safe }};
    var email = {{ resume.email | safe }};
    // Get key to decrypt phone number and email
    var key = get_url_parameter('key');
    // Get msg to be encrypted for convenience
    var msg = get_url_parameter('msg');
    if (msg != "") {
        console.log('Encrypting "' + msg + '" :');
        console.log(sjcl.encrypt(key, msg));
    }
    try {
        if (key != "") {
            try {
                phone = sjcl.decrypt(key, JSON.stringify(phone));
                email = sjcl.decrypt(key, JSON.stringify(email));
                $("#phoneContent").html(phone);
                $("#emailContent").html(email);
                $("#phone").show();
                $("#email").show();
            } catch (err) {
                throw 'Ah ah ah. You didn\'t say the magic word';
            }
        } else {
            throw "";
        }
    } catch (err) {
        if (err != "") {
            alert(err);
        }
    }
</script>
