<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{{ site.baseurl }}/img/favicon-64.png">

  <title>{% if title %}Carlos Asmat - {{ title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if excerpt %}{{ excerpt | striptags }}{% else %}{{ site.description }}{% endif %}">

  <script defer src="https://cloud.umami.is/script.js" data-website-id="55179db8-c15f-4659-8430-1ef4e05d3ffb"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-coy.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
</head>
