{% from "icon.njk" import icon %}
<nav class="site-nav no-print">
  <a class="site-nav-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <ul class="site-nav-links">
    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    <li><a href="{{ site.gitlab }}" title="GitLab"><span class="icon">{{ icon("fa-gitlab") }}</span></a></li>
    <li><a href="{{ site.github }}" title="GitHub"><span class="icon">{{ icon("fa-github") }}</span></a></li>
    <li><a href="{{ site.linkedin }}" title="LinkedIn"><span class="icon">{{ icon("fa-linkedin") }}</span></a></li>
    <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><span class="icon">{{ icon("fa-rss") }}</span></a></li>
  </ul>
</nav>
