<!DOCTYPE html>
<html>

  {% include "head.njk" %}

  <body>

    {% if hero %}{% include "hero.njk" %}{% endif %}

    {% include "header.njk" %}

    <div id="page-content" class="page-wrapper">
      {{ content | safe }}
    </div>

    {% include "footer.njk" %}

  </body>

</html>
