<!DOCTYPE html>
<html>

  {% include "head.njk" %}

  <body>

    {% include "header.njk" %}

    <div id="page-content" class="container-fluid">
      {{ content | safe }}
    </div>

    {% include "footer.njk" %}

  </body>

</html>
