<!DOCTYPE html>
<html>

  {% include "head.njk" %}

  <body>
    <div class="name-header no-print">
      <div class="row row-center">
        <div>
          <h1 class="hero-header">Carlos Asmat</h1>
          <p>I make <mark>robots</mark> that</br>work in the <mark>real world</mark>.</p>
        </div>
      </div>
    </div>

    {% include "header.njk" %}

    <div id="page-content" class="page-wrapper">
      {% include "resume.njk" %}
    </div>

    {% include "footer.njk" %}

  </body>

</html>
